//-
    Menu template

extends main

block append content
    div
        p Welcome to our API.
        ul
            li <a href='/api/user/1'>user</a>
            li <a href='/api/users'>users</a>
            li ...
            li <a href='/api/doc'>doc</a>